<h1>Admin Page!</h1>

<script>
    $.ajaxSetup({
        headers: {
            'x-access-token': $.cookie('token')
        }
    })
    $(document).ready(function (e) {
        $.ajax({
            url: '/admin/chk_admin',
            method: 'GET',
            success: function (dta) {
                console.log(dta);
            },
            error: function(e){
                document.location.href ="/logout";
            }
        });
    })
</script>